/* BASE */
/* Базові стилі проекту */

/* Встановлення box-sizing для всіх елементів */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Контейнер з максимальною шириною і центруванням */
.container {
  width: 100%; /* Ширина контейнера 100% */
  max-width: 1288px; /* Максимальна ширина 1240px + 48px відступи */
  margin: 0 auto; /* Центрування контейнера */
  padding: 0 24px; /* Стандартны відступи боків за "8-бітною сіткою" */
}

/* Загальні стилі для тіла сторінки */
body {
  color: var(--color-primary-dark); /* Темний колір тексту за замовчуванням */
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

/* Прибираємо відступи для заголовків */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px; /* Прибираємо відступи для заголовків */
}

a {
  display: inline-block; /* Дисплей inline-block для посилань */
  text-decoration: none; /* Прибираємо підкреслення для посилань */
  color: inherit; /* Спадкуємо колір від батьківського елемента */
}

/* Відміна курсиву для елементу address */
address {
  font-style: normal; /* Відміна курсиву для елементу address */
}

/* Загальні стилі для списків */
ul {
  list-style-type: none; /* Прибираємо маркери списку */
  margin: 0; /* Прибираємо відступи для списків */
  padding: 0; /* Прибираємо відступи для списків */
}

/* Стилі для кнопок */
.button {
  background-color: var(--color-brand-light); /* Зелений фон */
  border: 2px solid var(--color-brand-light);
  color: var(--color-primary-light);
  border-radius: 8px; /* Закруглені кути */
  padding: 16px 32px; /* Внутрішні відступи */
  font-weight: 600; /* Жирний шрифт */
}
.button:hover {
  cursor: pointer; /* Зміна курсора при наведенні */
  background-color: transparent; /* Темніший зелений при наведенні */
  color: var(--color-brand-dark);
}

