/* BASE */
/* Базові стилі проекту */

/* Встановлення box-sizing для всіх елементів */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Контейнер з максимальною шириною і центруванням */
.container {
  width: 100%; /* Ширина контейнера 100% */
  max-width: 1288px; /* Максимальна ширина 1240px + 48px відступи */
  margin: 0 auto; /* Центрування контейнера */
  padding: 0 24px; /* Стандартны відступи боків за "8-бітною сіткою" */
}

/* Загальні стилі для тіла сторінки */
body {
  color: var(--color-primary-dark); /* Темний колір тексту за замовчуванням */
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  @media screen and (min-width: $bp--tablet) {
    font-size: 18px;
    font-weight: 400;
  }
}

/* Прибираємо відступи для заголовків */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px; /* Прибираємо відступи для заголовків */
}

a {
  display: inline-block; /* Дисплей inline-block для посилань */
  text-decoration: none; /* Прибираємо підкреслення для посилань */
  color: inherit; /* Спадкуємо колір від батьківського елемента */
}

/* Відміна курсиву для елементу address */
address {
  font-style: normal; /* Відміна курсиву для елементу address */
}

/* Загальні стилі для списків */
ul {
  list-style-type: none; /* Прибираємо маркери списку */
  margin: 0; /* Прибираємо відступи для списків */
  padding: 0; /* Прибираємо відступи для списків */
}

img {
  display: block; /* Блочний дисплей для зображень */
  max-width: 100%; /* Максимальна ширина 100% */
  height: auto; /* Автоматична висота для збереження пропорцій */
  object-fit: cover; /* Обрізка зображень за потреби */
}