/* VARIABLES */
/* Змінні проекту */
:root {
  --color-brand-light: #819b57;
  --color-brand-normal: #819b57;
  --color-brand-dark: #365929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-secondary-dark: #a28268;
}