/* Стилі для розділу "Формати" */
.formats-section {
  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp--tablet) {
      justify-content: flex;
    }
  }
}

