/* MODALS */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.is-hidden {
    opacity: 0; /* Зробити прозорим */
    visibility: hidden; /* Приховати з візуального потоку */
    pointer-events: none;
  }
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 48px;
  overflow-y: auto;

  @media screen and (min-width: $bp--tablet) {
    padding: 128px;
  }

  &__form-field {
    margin-bottom: 32px;
  }

  &__button {
    margin: 0px auto 24px;
  }

  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}

