/* Стилі для розділу "Новий формат традицій" */
.traditions-section {
  padding-top: 96px;
}
.traditions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  min-width: 710px;
}
.limited-width {
  max-width: 340px;
}
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .brand.uppercase {
  text-transform: uppercase;
}
.traditions-title {
  margin-bottom: 42px;
}